<template>
    <div class="container">
        <div class="overflow-auto">
            <div class="row text-center text-lg-left">

                <div class="col-lg-3 col-md-4 col-6" v-for="image in images" :key="image.id">
                    <b-card
                        no-body
                        style="max-width: 20rem;"
                        :img-src=getUrlImgHost(image.image_name)
                        img-alt="Image"
                        img-top
                    >
                        <b-card-body>
                            <b-card-title>{{ image.user.name }}</b-card-title>
                            <b-card-sub-title class="mb-2">{{ image.user.email }}</b-card-sub-title>
                        </b-card-body>

                        <b-card-body>
                            <a @click="setFilteredUser(image.user)" class="card-link">only this user</a>
                            <a @click="resetFilter()" class="card-link">reset</a>
                        </b-card-body>
                    </b-card>
                </div>
            </div>
            <b-pagination
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                aria-controls="my-table"
                align="fill"
                v-on:change="moveToPage"
            ></b-pagination>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            perPage: null,
            currentPage: null,
            rows: null,
            images: [],
            userForFilter: null,
        }
    },
    mounted() {
        this.getImages()
    },
    methods: ({
        getUrlImgHost(image_name) {
            return "https://picsum.photos/50/50/? image =" + image_name
        },
        moveToPage(numperPage) {
            this.getImages(numperPage)
        },
        getImages(page = null) {
            let param = ''
            if (null !== page) {
                param = "?page=" + page
            }
            axios.get('/getUserImages' + param + this.getParamQueryFromFilteredUser())
                .then(response => {
                    this.images = response.data.data
                    this.currentPage = response.data.current_page
                    this.perPage = response.data.per_page
                    this.rows = response.data.total
                })
                .catch(error => {
                    console.log('ERROR REQUEST getUserImages')
                });
        },
        setFilteredUser(user) {
            this.userForFilter = user
            this.getImages()
        },
        getParamQueryFromFilteredUser() {
            if (null !== this.userForFilter) {
                return "?email=" + this.userForFilter.email
            }
            return '';
        },
        resetFilter() {
            this.userForFilter = null
            this.getImages()
        }
    })
}
</script>
